<footer>
    <div class="container">
        <div id="footer-bar">
            <div id="footer-bar-text">
                Made with
                <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M9 2C7.312 2 6 3.5 6 3.5S4.687 2 3 2C1.312 2 0 3.312 0 5c0 3.188 3.75 3.012 6 6 2.25-2.988 6-2.812 6-6 0-1.688-1.313-3-3-3z"></path>
                </svg>
                in Iași
            </div>
            <div class="footer-bar-text">
                &copy; 2018 Track My Expenses
            </div>
        </div>
    </div>
</footer>