<header>
    <div class="container">
        <nav id="navigation-bar">
            <a id="logo-container" href="wallet">
                <img id="logo-image" src="../public/images/logo-background.png" alt="track my expenses logo">
                <p>Track My Expenses</p>
            </a>
            <div id="sign-in-wrapper" class="logged-in">
                <div class="button float-left">
                    <a href="usersettings">
                        <p>{{username}}</p>
                    </a>
                </div>
                <form action="signout" method="GET">
                    <button class="sign-out-button" type="submit" name="submit">
                    </button>
                </form>

            </div>
            <div class="clear"></div>
        </nav>
    </div>
</header>