<header>
    <div class="container">
        <nav id="navigation-bar">
            <a id="logo-container" href="home">
                <img id="logo-image" src="../public/images/logo-background.png" alt="track my expenses logo">
                <p>Track My Expenses</p>
            </a>
            <div id="sign-in-wrapper" class="logged-out">
                <div class="button centerElementsWithin float-left">
                    <a href="signin">
                        <p>Sign In</p>
                    </a>
                </div>
                <div class="button centerElementsWithin float-left">
                    <a href="signup">
                        <p>Sign Up</p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </nav>
    </div>
</header>