<div id="transaction-overview" class="transaction-card">

    <div id="add-transaction-container" class="centerElementsWithin">
        <div id="add-transaction">
            <a href="addtransaction">
                <div class="add-transaction-button centerElementsWithin">
                    <p>+</p>
                </div>
            </a>
        </div>
    </div>

    <p> Overview</p>
    <div id="inflow" class="line">
        <span class="left">Inflow</span>
        <span class="right">{{inflow}}</span>
    </div>
    <div id="outflow" class="line">
        <span class="left">Outflow</span>
        <span class="right">{{outflow}}</span>
    </div>
    <div class="line">
        <span class="right {{sumType}}">{{sumVal}}</span>
    </div>
</div>