<div class="transaction-card">
    <div class="transaction-header">
        <div class="line">
            <span class="day">{{day}}</span>
            <div class="date-details">
                <p>{{day-word}}</p>
                <p>{{month}} {{year}}</p>
            </div>
            <div class="right">
                <span class="{{value-class}}">{{value}}</span>
            </div>
        </div>
    </div>

    {{items}}
</div>