<a href="edittransaction?id={{transaction-id}}">
    <div class="transaction-item">
        <div class="transaction-username-wrapper">
            <span class="transaction-username">{{username}}</span>
        </div>
        <div class="line">
            <span class="left">{{name}}</span>
            <span class="right {{type}}">{{value}}</span>
        </div>
        <span class="message">{{message}}</span>
    </div>
</a>