html, body {
    height: 100%;
    margin: 0;
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Segoe UI",
    "Roboto",
    sans-serif;
    font-size: 17px;
    line-height: 1.5;
    background-color: #e5e5e5;
}

#testHeight {
    height: 900px;
    background-color: #C9B7E7;
}

/* Global */

.container {
    display: block;
    margin: auto;
    overflow: hidden;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

a {
    outline: none;
}

.centerElementsWithin {
    /* Centering the elements within this element */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /* iOS 6-, Safari 3.1-6, BB7 */
    /* IE 10 */
    /* Safari 6.1+. iOS 7.1+, BB10 */
    /* Spec - Firefox, Chrome, Opera */
}

.button {
    padding: 0.4rem 0.9rem;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
}

.float-left {
    float: left;
}

/* Header */

header {
    min-height: 60px;
    background-color: #794BC4;
}

#navigation-bar {
    min-height: 60px;
    overflow: hidden;
}

#logo-container {
    width: 215px;
    float: left;
    margin-top: 18px;
    margin-left: 15px;
}

#logo-image {
    width: 37px;
    height: 37px;
    float: left;
    margin-right: 10px;
}

#logo-container > p {
    margin: 0;
    margin-top: 4px;
    text-transform: uppercase;
    font-size: 17px;
}

#sign-in-wrapper {
    width: 350px;
    right: 0;
    float: right;
    margin: 0;
    padding: 0;
}

.logged-in {
    width: 100px;
}

.logged-out {
    width: 190px;
}

.sign-out-button {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    background-image: url('../images/sign-out.png');
    background-repeat: no-repeat;
}

.clear {
    clear: both;
}

/* Footer */

footer {
    width: 100%;
    min-height: 75px;
    background-color: #794BC4;
}

#footer-bar {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-bar-text {
    padding: 5px;
    font-size: 20px;
}

.heart {
    width: .75rem;
    height: .75rem;
    color: #FF4D4D;
    fill: currentColor;
}

#footer-bar-text:hover > .heart {
    animation: beat .25s infinite alternate;
    animation-iteration-count: 6;
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

.footer-separator {
    height: 30px;
}

@media screen and (min-width: 960px) {
    .container {
        max-width: 959px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        max-width: 959px;
    }
}

@media screen and (max-width: 959px){
    .feature-transactions {
        display: block;
    }
    .feature-left-text {
        display: block;
        margin-left: 5rem;
        margin-right: 5rem;
        width: 80% !important;
    }
    .feature-right-image {
        width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .feature-left-image {
        width: 100% !important;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .feature-right-text {
        padding-left: 5rem;
        padding-right: 5rem;
        width: 80% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .container {
        max-width: 767px;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    .container {
        max-width: 600px;
    }
    #navigation-bar {
        width: 550px;
    }
    #sign-in-wrapper {
        float: left;
        margin-left: 50px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: 479px;
    }
    #sign-in-wrapper {
        float: left;
        margin-left: 50px;
    }
    .feature-left-text {
        margin-left: 25px;
        width: 85% !important;
    }
    .feature-right-image {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .feature-left-image {
        display: block;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
    .feature-right-text {
        margin-top: 0 !important;
        padding: 0;
        margin-left: 25px;
        width: 85% !important;
        float: left;
    }
}
