<form class="inline-form" action="usersettings-{{function}}?id={{id}}" method="POST">
    <input class="field" type="text" placeholder="{{value}}" name="{{value}}" readonly>
    <button class="submit-button-wrapper submit-delete" type="submit" name="submit">
        <p>-</p>
    </button>
</form>