<form class="inline-form" action="notification-action" method="POST">
    <input class="field" type="text" value="{{group}}" name="group" readonly>
    <button class="submit-button-wrapper" type="submit" name="submit-button" value="accept">
        <p>✓</p>
    </button>
    <button class="submit-button-wrapper decline-button" type="submit" name="submit-button" value="decline">
        <p>✗</p>
    </button>
</form>