#auth-form {
    height : 320px;
}

#logoRef {
    margin-top : 16px;
}

#auth-title {
    padding-top : 16px;
}

#password-message {
    margin-top    : -10px;
    margin-bottom : 25px;
    color         : #000;
}
