#auth-form {
    height : 490px;
}

#confirmMessage {
    padding: 10px
}

.good {
    color: #1fb91f;
    background-color: #aaffaa;
}

.bad {
    color: #a94442;
    background-color: #fde9e9;
}

@media screen and (max-width: 479px) {
    #auth-form {
        height : 510px;
    }
}