a {
    transition: all .3s ease 0s;

    color: #794bc4;
}

a:hover {
    text-decoration: underline;

    color: #6b42ad;
}

#auth-form {
    width: 360px;
    height: 340px;
    padding-top: 10px;
    margin: 120px;

    background-color: rgb(245, 245, 247);
    box-shadow: rgba(0, 0, 0, .24) 0 1px 6px;
}

#auth-width {
    position: relative;

    width: 85%;

    text-align: center;
}

#logo-wrapper {
    position: absolute;
    top: -134px;
    right: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 128px;
    height: 128px;
}

#auth-title {
    font-family: "Segoe UI",
    sans-serif;
    font-size: 26px;
    font-weight: bold;

    text-transform: uppercase;

    opacity: .5;
    color: #000;
}

fieldset {
    padding: 0;
    margin: 0;
    margin-right: 6px;
    margin-bottom: 20px;

    border: none;
}

.field {
    width: 98%;
    height: 40px;
    margin: 0;

    font-size: 16px;

    text-indent: 10px;

    border: 2px solid rgba(0, 0, 0, .1);
}

.field-full-width {
    width: 100%;
}

.submit-button-wrapper {
    width: 99%;
    margin: 0;

    font-family: "Segoe UI",
    sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 10px;

    cursor: pointer;
    transition: all .3s ease 0s;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #794bc4;;
}

.submit-button-wrapper:hover {
    background: #6b42ad;
}

.button > p {
    color: #fff;
}

#bottom-wrapper {
    display: block;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: -30px;

    font-size: 15px;
    line-height: .8;

    color: #000;
}

#bottom-wrapper a {
    display: block;

    font-size: 15px;
    font-weight: bold;
    line-height: 30px;

    color: #794bc4;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    text-align: center;
}

@media
    screen
    and (max-height : 740px) {
    footer {
        display: none;
    }
}

@media
    screen
    and (max-width : 767px) {
    #auth-form {
        height: 360px;
        width: 60%;
        margin: 20%;
        margin-top: 100px;
    }

    #logo-wrapper {
        top: -110px;
    }
}
