#main-message {
    color: #000;
    
    font-weight: bold;

    height: 100%;
    width: 100%;
    text-align: center;
}
footer {
    float: bottom;
    position: fixed;
    left: 0;
    bottom: 0;
}