<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Add transaction - Track My Expenses</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authentification/sign-in.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/edit-transaction.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/add-transaction.css">
</head>

<body>

    <div id="auth-form-wrapper" class="centerElementsWithin">
        <div class="container">
            <div id="auth-form" class="centerElementsWithin">
                <div id="auth-width">
                    <div id="logo-wrapper" class="centerElementsWithin">
                        <a id="logoRef" href="wallet">
                            <img id="logo" src="../public/images/logo.png" alt="page logo">
                        </a>
                    </div>
                    <p id="auth-title">Add Transaction</p>

                    <form action="addtransaction-action" method="POST">
                        <input class="field" type="text" placeholder="Title" name="title" required>
                        <input class="field" type="text" placeholder="Message" name="message" required>
                        <input class="field" type="text" placeholder="Amount" name="amount" required>
                        <select class="field field-full-width select-indent-text" name="type">
                            <option value="in">Income</option>
                            <option value="out">Payment</option>
                        </select>
                        <select class="field field-full-width select-indent-text" name="group">
                            {{groups-options}}
                        </select>
                        <select class="field field-full-width select-indent-text" name="category">
                            {{categories-options}}
                        </select>
                        <input class="field select-indent-text" type="date" name="date" required>
                        
                        <button class="submit-button-wrapper" type="submit" name="submit">
                            <p>Save</p>
                        </button>
                    </form>

                    <div id="bottom-wrapper">
                        <a href="wallet">Go back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{footer}}

</body>

</html>