<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Edit transaction - Track My Expenses</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authentification/sign-in.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/edit-transaction.css">
</head>

<body>

<div id="auth-form-wrapper" class="centerElementsWithin">
    <div class="container">
        <div id="auth-form" class="centerElementsWithin">
            <div id="auth-width">
                <div id="logo-wrapper" class="centerElementsWithin">
                    <a id="logoRef" href="wallet">
                        <img id="logo" src="../public/images/logo.png" alt="page logo">
                    </a>
                </div>
                <p id="auth-title">Edit Transaction</p>

                <form action="update-transaction?id={{id}}" method="POST">
                    <input class="field" type="text" placeholder="Title" name="title" value="{{title}}">
                    <input class="field" type="text" placeholder="Message" name="message" value="{{message}}">
                    <input class="field" type="text" placeholder="Amount" name="amount" value="{{amount}}">
                    <select class="field field-full-width select-indent-text" name="type" value="out">
                        <option id="Tin" value="in">Income</option>
                        <option id="Tout" value="out">Payment</option>
                    </select>
                    <select class="field field-full-width select-indent-text" name="group">
                        {{groups-options}}
                    </select>
                    <select class="field field-full-width select-indent-text" name="category">
                        {{categories-options}}
                    </select>
                    <input class="field select-indent-text" type="date" name="date" value="{{date}}">

                    <button class="submit-button-wrapper" type="submit" name="submit">
                        <p>Save</p>
                    </button>
                </form>

                <div id="bottom-wrapper">
                    <form action="remove?id={{id}}" method="POST">
                        <button id="remove-button" type="submit" name="submit">
                            <span>Remove</span>
                        </button>
                    </form>
                    <a href="wallet">Go back</a>
                </div>
            </div>

        </div>
    </div>
</div>

{{footer}}

</body>

</html>
