<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Track My Expenses</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/welcome.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/features-bar.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/features.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/down-arrow.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/button.css">
</head>
<body>

{{header}}

<div id="intro-description-container">
    <div class="container">
        <div id="intro-description">
            <p id="app-detail-text">Expense manager</p>
            <p id="intro-promote-text">Get ready<br>to launch your expenses to the next level!</p>
            <p id="intro-app-description">Track my expenses helps you better manage your expenses<br>and plan budgets
                wisely to save more money for your future.</p>
        </div>
    </div>

    <div id="down-arrow-container" class="centerElementsWithin">
        <div id="down-arrow">
            <a href="#new-features-bar-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20">
                    <path d="M17 12.758L5.121.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l14 14a2.998 2.998 0 0 0 4.242 0l14-14C33.707 4.535 34 3.768 34 3s-.293-1.535-.879-2.121a2.998 2.998 0 0 0-4.242 0L17 12.758z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>

<div id="new-features-bar-container">
    <div class="container">
        <div id="new-features-bar" class="centerElementsWithin">
            <p id="new-features-bar-text">We’re excited to announce the new features! Take a look at them down
                below.</p>
        </div>
    </div>
</div>

<div id="features-bar-container">
    <div class="container centerElementsWithin">
        <div id="feature-bar">
            <div id="main-right-column">
                <div class="features-column last-column">
                    <p class="feature-title">Overview</p>
                    <p class="feature-details">Check the inflow and the outflow of your expenses.</p>
                    <a href="#feature-transaction-ref" class="feature-scroll-for-more">See more</a>
                </div>

                <div class="features-column">
                    <p class="feature-title">Simple edit</p>
                    <p class="feature-details">Edit your transactions in a simple form.</p>
                    <a href="#feature-edit-ref" class="feature-scroll-for-more">See more</a>
                </div>
                <div class="features-column first-column">
                    <p class="feature-title">Group expenses</p>
                    <p class="feature-details">Expenses visualized custom groups and categories.</p>
                    <a href="#feature-notifications-ref" class="feature-scroll-for-more">See more</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="features-container">
    <div class="container centerElementsWithin">
        <div class="features">

            <div class="feature-transactions" id="feature-transaction-ref">
                <div class="feature-left-text">
                    <p class="feature-title title-style">The whole picture in one place</p>
                    <p>Track My Expanses helps you get just about everything managed. A smart, easy-to-use app that
                        allows you to track and categorize your in-and-out money. You have the ability to see all your
                        transactions in a clear view.</p>
                </div>
                <div class="feature-right-image">
                    <img class="feature-image" src="../public/images/transactions.png" alt="transactions-img">
                </div>
            </div>

            <div class="feature-transactions" id="feature-edit-ref">
                <div class="feature-left-image">
                    <img class="feature-image" src="../public/images/edit-transaction.png" alt="transactions-img">
                </div>
                <div class="feature-right-text">
                    <p class="feature-title title-style">Simple money tracker</p>
                    <p>It takes seconds to record and edit daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Entertainment.</p>
                </div>
            </div>

            <div class="feature-transactions" id="feature-notifications-ref">
                <div class="feature-left-text last-text-position">
                    <p class="feature-title title-style">Set bugets with other people</p>
                    <p>At just one click away, you are able to invite people to your groups. This application is easy to use and will help you keep track of every dollar.</p>
                </div>
                <div class="feature-right-image">
                    <img class="feature-image last-image-size" src="../public/images/notifications.png" alt="transactions-img">
                </div>
            </div>

        </div>
    </div>
</div>

{{footer}}

</body>
</html>
