<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Track My Expenses</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index/down-arrow.css">
    <link rel="stylesheet" type="text/css" href="../public/css/error/no-login.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/button.css">
</head>
<body>

{{header}}

<div id="main-message">
    <p> Please signin to view this page. </p>
</div>

{{footer}}

</body>
</html>
