<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Sign in - Track My Expenses</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authentification/sign-in.css">
</head>

<body>

<div id="auth-form-wrapper" class="centerElementsWithin">
    <div class="container">
        <div id="auth-form" class="centerElementsWithin">
            <div id="auth-width">
                <div id="logo-wrapper" class="centerElementsWithin">
                    <a id="logoRef" href="home">
                        <img id="logo" src="../public/images/logo.png" alt="page logo">
                    </a>
                </div>
                <p id="auth-title">Track My Expenses</p>

                <form action="signin-action" method="POST">
                    <input class="field" type="text" name="identifier" placeholder="Username or Email" required>
                    <input class="field" type="password" name="password" placeholder="Password" required>
                    <button class="submit-button-wrapper" type="submit" name="submit">
                        <p>Sign In</p>
                    </button>
                </form>

                <div id="bottom-wrapper">
                    <!--<a href="forgotpass">Forgot your password?</a>-->
                    <a href="signup">Sign up</a>
                </div>
            </div>

        </div>
    </div>
</div>

{{footer}}

</body>

</html>
