<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Sign up - Track My Expenses</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authentification/sign-in.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authentification/sign-up.css">
    <script src="../public/scripts/authentification/sign-up.js"></script>
</head>

<body>

<div id="auth-form-wrapper" class="centerElementsWithin">
    <div class="container">
        <div id="auth-form" class="centerElementsWithin">
            <div id="auth-width">
                <div id="logo-wrapper" class="centerElementsWithin">
                    <a id="logoRef" href="home">
                        <img id="logo" src="../public/images/logo.png" alt="logo">
                    </a>
                </div>
                <p id="auth-title">Track My Expenses</p>

                <div id="confirmMessage" class="empty"></div>

                <form id="sign-up-form" action="signup-action" method="POST" onsubmit="return validateForm()">
                    <input id="email" class="field" type="email" name="email" placeholder="Email" onkeyup="checkEmail(this.value)" required>
                    <input id="username" class="field" type="text" name="username" placeholder="Username" onkeyup="checkUsername(this.value)" required>
                    <input id="password" class="field" type="password" name="password" placeholder="Password" onkeyup="matchPassword()" required>
                    <input id="confirmPassword" class="field" type="password" name="confirmPassword" placeholder="Confirm Password" onkeyup="matchPassword()" required>
                    <button class="submit-button-wrapper" type="submit" name="submit-button">
                        <p>Sign Up</p>
                    </button>
                </form>

                <div id="bottom-wrapper">
                    <p>Already a member?</p>
                    <a href="signin">Sign in now</a>
                </div>
            </div>

        </div>
    </div>
</div>

{{footer}}

</body>

</html>