<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>User settings - Track My Expenses</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/settings/user-settings.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authentification/sign-in.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/edit-transaction.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/add-transaction.css">
</head>

<body>

{{header}}

<div id="page-container">
    <div class="container">
        <div id="settings-container">
            <p class="settings-title">{{user}}'s profile</p>

            <div class="user-notifications">
                <p class="sub-title">Notifications</p>
                {{notification-rows}}
            </div>

            <div class="columns">

                <div class="groups-column">
                    <p class="sub-title column-title">Groups</p>

                    {{add-records-groups}}

                    <form class="inline-form" action="usersettings-addgroup" method="POST">
                        <input class="field" type="text" placeholder="New group" name="group" required>
                        <button class="submit-button-wrapper" type="submit" name="submit">
                            <p>+</p>
                        </button>
                    </form>
                </div>

                <div class="categories-column">
                    <p class="sub-title column-title">Categories</p>

                    {{add-records-categories}}

                    <form class="inline-form" action="usersettings-addcategory" method="POST">
                        <input class="field" type="text" placeholder="New category" name="category" required>
                        <button class="submit-button-wrapper" type="submit" name="submit">
                            <p>+</p>
                        </button>
                    </form>
                </div>

            </div>

            <div class="user-invite">
                <p class="sub-title">Invite user to group</p>

                <form class="inline-form" action="invite-to-group" method="POST">
                    <select class="field field-full-width select-indent-text dropdown-dimension" name="group">
                        {{dropdown-owned-groups}}
                    </select>
                    <input class="field" type="text" placeholder="Username" name="username">
                    <button class="submit-button-wrapper send-notification-button" type="submit" name="add-notification-button"
                            value="accept">
                        <p>SEND</p>
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

{{footer}}

</body>

</html>