<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Track my expenses helps you to manage your expenses. It's that very simple, get it today!">
    <meta name="keywords" content="expense manager, track expenses, financial assistant">
    <title>Track My Expenses</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/transaction-data.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/data-filters.css">
    <link rel="stylesheet" type="text/css" href="../public/css/wallet/edit-transaction.css">
    <script src="../public/scripts/wallet/radio-buttons.js"></script>
</head>

<body>

    {{header}}
    
    <div id="page-container">
        <div class="container">
            <div id="groups-container">
                <div class="container">
                    <div id="groups-data">
                        <a>Groups</a>
                        <div>
                            {{groups}}
                        </div>
                    </div>
                    <div id="categories-data">
                        <a>Categories</a>
                        <div>
                            {{categories}}
                        </div>
                    </div>
                    <button class="change-view" hidden>
                        <p>Change view</p>
                    </button>
                </div>
            </div>

            <div id="transaction-data-container">
                <div class="container">
                    <div id="transaction-data">
                        {{overview}}
                        {{transactions}}
                    </div>
                </div>

            </div>

        </div>
    </div>

    {{footer}}

</body>

</html>