a {
    color: white !important;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

#settings-container {
    width: 100%;
    display: inline-table;
    padding-left: 15px;
}

.settings-title {
    font-size: 18px;
    color: #000;
    margin-bottom: 0.8rem;
    border-bottom: solid 1px #d9d9d9;
    background-color: #fff;
    padding: 10px;
    width: 292px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 1px 6px;
}

.sub-title {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    font-style: italic;
    color: #794BC4;
    font-weight: 600;
}

.decline-button {
    background-color: #cbc7ca !important;
}

.decline-button:hover {
    background-color: #bfbbbe !important;
}

.column-title {
    margin-top: 0.8rem;
}

.columns {
    width: 100%;
    display: inline-block;
}

.groups-column, .categories-column {
    display: inline-table;
    width: 47%;
}

.categories-column {
    padding-left: 10px;
    border-left: solid 1px #d9d9d9;
}

/* Add row */

.inline-form {
    padding: 0;
}

.field {
    padding-top: 5px !important;
    height: 46px;
    width: 200px !important;
}

.submit-button-wrapper {
    margin: 2px !important;
    margin-bottom: 7px !important;
    width: 46px !important;
}

.submit-delete {
    background-color: #ff3e3e !important;
}

.dropdown-dimension {
    width: 204px !important;
    height: 50px !important;
}

.send-notification-button {
    font-weight: 500 !important;
    width: 60px !important;
}

@media screen and (max-width: 599px) {
    .groups-column, .categories-column {
        display: block;
    }

    .categories-column {
        padding-left: 0;
        border-left: none;
    }

    .settings-title {
        width: 190px;
    }
    .field {
        width: 154px !important;
    }
    .inline-form {
        width: 280px !important;
    }
    footer {
        display: none;
    }
}