/* Down arrow */

#down-arrow-container {
    padding-bottom : 10px;
}

#down-arrow {
    width   : 36px;
    height  : 105%;
    color   : #FFF;
    opacity : 0.5;
    fill    : currentColor;
}

#down-arrow a:visited {
    color   : #FFF;
    opacity : 0.5;
    fill    : currentColor;
}

#down-arrow svg {
    width      : 100%;
    height     : 100%;
    transition : all 0.3s;
}

#down-arrow:hover > a > svg {
    transform : translateY(10px);
}
