/* New features bar */

#new-features-bar-container {
    min-height       : 75px;
    background-color : #4F0299;
}

#new-features-bar {
    min-height : 75px;
}

#new-features-bar > p {
    padding-left : 10px;
    font-size    : 20px;
}

/* Features bar */

#features-bar-container {
    margin           : 0;
    padding          : 0;
    background-color : #fff;
    padding-bottom: 15px;
}

#feature-bar {
    display     : flex;
    width       : 88%;
    color       : #000;
    font-weight : bold;
}

#main-left-column {
    display    : inline-block;
    visibility : hidden;
    position   : relative;
    width      : 17%;
}

#main-left-column > p {
    margin-right : 10px;
    padding-top  : 21px;
    font-size    : 18px;
}

#main-right-column {
    display       : inline-block;
    width         : 100%;
    padding-right : 15%;
    padding-left  : 18%;
}

.features-column {
    display : inline-table;
    width   : 28%;
    margin  : 0;
    padding : 0 2%;
}

.first-column {
    padding-left : 0;
}

.last-column {
    padding-right : 0;
}

.feature-title {
    display       : inline-block;
    margin-bottom : 0;
    border-bottom : 6px solid #794BC4;
    font-size     : 20px;
}

.feature-details {
    opacity     : 0.3;
    font-weight : normal;
}

.feature-scroll-for-more,
.feature-scroll-for-more:visited {
    color   : #794BC4;
    opacity : 0.8;
}

@media
    screen
    and (max-width : 550px) {
    .features-column {
        display : inline-table;
        width   : 100%;
        padding : 0 10px;
    }
}
