.features-container {
    margin           : 0;
    padding          : 0;
    background-color: #e5e5e5;
}

.features {
    color: #000;
    padding-top: 70px;
    padding-bottom: 35px;
    width: 100%;
}

.feature-image {
    width: auto !important;
    height: 600px;
}

.feature-transactions {
    position: relative;
    width: 100%;
    display: inline-block;
    display: inline-block;
    vertical-align:top;
    margin-bottom: 100px;
}

.feature-transactions:last-child {
    margin-bottom: 20px;
}

.title-style {
    border-bottom: 4px solid #794BC4;
    font-weight: 600;
}

/* One type of feature view */

.feature-left-text {
    top: 0;
    display: inline-table;
    width: 33%;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

.feature-right-image {
    display: inline-table;
    right: 0;
}

/* Another type of feature view */

.feature-left-image {
    top: 0;
    display: inline-table;
    width: 36%;
    float: left;
    margin-right: 30px;
}

.feature-right-text {
    width: 52%;
    display: inline-table;
    right: 0;
    margin-top: 70px;
}

/* Last feature */
.last-image-size {
    width: auto !important;
    height: 500px;
}

.last-text-position {
    margin-top: -10px;
}

/* Responsive */


@media screen and (min-width: 600px) and (max-width: 767px) {
    .feature-image {
        height: 450px;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    .feature-image {
        height: 400px;
    }
}

@media screen and (max-width: 479px) {
    .feature-image {;
        height: 270px;
    }
}
