footer {
    bottom     : 0;
    left       : 0;
    width      : 100%;
    text-align : center;
}

body {
    background-color : #fff;
}

@media
    screen
    and (max-height : 970px) {
    footer {
        position : relative;
    }
}
