/* Description */

#intro-description-container {
    min-height       : 505px;
    background-color : #794BC4;
}

#intro-description {
    margin-left    : 46px;
    padding        : 0 10px 0 10px;
    padding-top    : 132px;
    padding-bottom : 132px;
    overflow       : hidden;
}

#app-detail-text {
    margin      : 0;
    color       : rgba(255, 255, 255, 0.5);
    font-size   : 18.7px;
    font-weight : bold;
}

#intro-promote-text {
    margin      : 0 0 10px 0;
    font-size   : 34px;
    font-weight : bold;
    line-height : 1.1;
}

#intro-app-description {
    margin      : 0 0 10px 0;
    color       : rgba(255, 255, 255, 0.5);
    font-size   : 25.5px;
    line-height : 1.3;
}

@media
    screen
    and (max-width : 414px) {
    #intro-description {
        margin-left    : 46px;
        padding        : 0 10px 0 10px;
        padding-top    : 60px;
        padding-bottom : 40px;
        overflow       : hidden;
    }
}
