body {
  background-color: #f5f6f6;
  color: #005aa0;
  font-family: "Segoe UI", "Roboto", sans-serif;
  text-align: center;
}

nav {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 3px solid #dedede;
}

a, a:visited {
  font-weight: bold;
  color: #005aa0;
  text-decoration: underline;
  margin-right: 20px;
}

img {
  display: block;
  margin: 0 auto;
}
