#auth-form {
    height : 570px;
}

.select-indent-text {
    text-indent : 4px;
}

.date-field {
    display : inline-block;
}

#day {
    width       : 30%;
    margin-left : -1px;
}

#month {
    width         : 42%;
    height        : 46px;
    padding-right : 3px;
    padding-left  : 3px;
    text-align    : left;
    text-indent   : 2px;
}

#year {
    width         : 20%;
    padding-right : 14px;
}

#remove-button {
    background-color: #f5f5f7;
    border: none;
    color: #794bc4;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#remove-button:hover > span {
    border-bottom: solid 1px;
    cursor: pointer;
}

@media
	screen
	and
    (max-width : 560px) {
    #day {
        display     : block;
        width       : 98%;
        margin-left : 0;
    }

    #month {
        display : block;
        width   : 100%;
    }

    #year {
        display       : block;
        width         : 98%;
        margin-left   : 0;
        padding-right : 1px;
        padding-left  : 1px;
    }
}

@media screen and (max-width : 780px ) {
    #auth-form {
        height : 640px;
    }
}

@media screen and (max-width : 360px ) {
    #auth-title {
        position  : relative;
        top       : 10px;
        font-size : 14px;
    }
}

@media screen and (max-width: 479px) {
    #auth-form {
        height : 680px;
    }
}
