#page-container {
    min-height: 100%;
    position: relative;
    display : inline-table;
    width   : 100%;
}

/* Groups and categories style */

#groups-container {
    display      : inline-table;
    width        : 32%;
    height       : 100%;
    padding-left : 15px;
}

/* radio buttons */

.radio {
    margin-top: 0.7rem;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 2px solid #d9d9d9;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    position: relative;
    top: 3px;
    margin-right: 0.4em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #794BC4;
    border-color: #794BC4;
    box-shadow: inset 0 0 0 3px white;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #794BC4;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

#groups-data > div, #categories-data > div {
    text-transform: capitalize;
    color : #000;
}

 /* Sidebar titles */
#groups-data, #categories-data {
    margin-top: 0.7rem;
}

#groups-data > a, #categories-data > a {
    font-size: 18px;
    color: #a6a6a6;
    font-weight: 600;
    border-bottom : solid 1px #d9d9d9;
    transition: color .1s linear;
}

#groups-data > a:hover, #categories-data > a:hover {
    color: #794BC4;
    cursor: pointer;
}

/* Transactions style */

#transaction-data-container {
    display       : inline-table;
    width         : 40%;
    height        : 100%;
    margin-top    : 5px;
    margin-bottom : 15px;
}

#transaction-data {
    display : inline;
    width   : 100%;
}

#transaction-overview {
    position   : relative;
    min-height : 100px;
    margin     : 22px 10px 10px 10px;
    padding    : 10px;
}

#transaction-overview > p {
    border-bottom : solid 1px #d9d9d9;
}

.transaction-card {
    margin           : 10px;
    padding-bottom   : 10px;
    color            : #000;
    background-color : #FFF;
    box-shadow       : rgba(0, 0, 0, 0.24) 0px 1px 6px;
}

.transaction-header {
    padding : 10px;
}

.transaction-header:after {
    content       : "";
    display       : block;
    width         : 100%;
    margin        : 0 auto;
    padding-top   : 10px;
    border-bottom : solid 2px #eaeaea;
    /* This is necessary for the pseudo element to work. */
    /* This will put the pseudo element on its own line. */
    /* This will center the border. */
    /* Change this to whatever width you want. */
    /* This creates some space between the element and the border. */
    /* This creates the border. Replace black with whatever color you want. */
}

.transaction-item {
    padding    : 10px;
    color      : #000;
    transition : all 0.3s ease 0s;
}

.transaction-item:hover {
    background-color : #eaeaea;
}

.transaction-username-wrapper {
    margin-bottom: 7px;
}

.transaction-username {
    border-bottom: solid 1px #d9d9d9;
    white-space: pre-wrap;
}

.transaction-username:before {
    background-image: url('../../images/user.png');
    background-size: 17px 17px;
    display: inline-block;
    width: 17px;
    height: 17px;
    content:"";
    margin-right: 3px;
    margin-bottom: -3px;
}

.line {
    display : inline-block;
    width   : 100%;
    height  : 100%;
}

.date-details {
    display   : inline-block;
    font-size : 13px;
}

.date-details p {
    margin  : 0;
    padding : 0;
}

/* Add transaction button style */

#add-transaction-container {
    position     : absolute;
    top          : -26px;
    right        : 0;
    left         : 0;
    margin-right : auto;
    margin-left  : auto;
    padding-top  : 5px;
}

.add-transaction-button {
    width            : 40px;
    height           : 40px;
    border-radius    : 50%;
    background-color : #794BC4;
    box-shadow       : rgba(0, 0, 0, 0.40) 0px 1px 6px;
}

.add-transaction-button p {
    font-size : 15px;
}

/* Transactions text style */

#inflow {
    float : left;
}

#inflow .right {
    color : #039be5;
}

#outflow {
    float : left;
}

#outflow .right {
    color         : #e60000;
    border-bottom : solid 1px #d9d9d9;
}

.left {
    float : left;
}

.right {
    float : right;
}

.in {
    color : #039be5;
}

.out {
    color : #e60000;
}

.message {
    margin    : 0;
    padding   : 0;
    color     : #b3b3b3;
    font-size : 0.8em;
}

.day {
    font-size : 35px;
}

.no_transactions {
    color: #000;
}

@media
    screen
    and (min-width : 960px) {
}

@media
    screen
    and (min-width : 768px)
    and (max-width : 959px) {
}

@media
    screen
    and (min-width : 480px)
    and (max-width : 767px) {
    #groups-container {}

    #transaction-data-container {}

    #add-transaction-container {}
}

@media
    screen
    and (max-width : 479px) {
    #categories-data,
    #groups-dat {
        display    : inline-block;
        width      : 40%;
    }

    #groups-data {
        float       : left;
        margin-left : 10%;
    }

    #categories-data {
        float        : right;
        margin-right : 10%;
    }

    #groups-container {
        display : block;
        width   : 100%;
    }

    #transaction-data-container {
        display      : block;
        width        : 90%;
        margin-right : 5%;
        margin-left  : 5%;
    }

    #add-transaction-container {
        display : block;
        width   : 10%;
    }
}
